
        body {
            background-color: #f0efe4;
            text-align: center;
            font-family: Arial, Helvetica, sans-serif;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        main {
            margin: 10% auto 0 auto;
            border: 2px solid rgb(25, 56, 77);
            border-radius: 40px;
            width: 500px;
            background-color: #89c6df
        }
        #results {

            background-color: cornsilk;
            border: 1px solid black;
            width: 400px;
            margin: 15px auto 0px auto;
            padding: 15px 15px 15px 15px;
            font-size: 20px;
            border-radius: 20px;
        }

        #scoreBoard {

            display: inline-flex;
            
        }

        .scores {
            margin: 0px 20px 0px 20px;
        }

        .scores p {
            font-size: 20px;
        }
        button {

            padding: 10px 10px 10px 10px;
            width: 100px;
            color: rgb(52, 90, 97);
            background-color: rgb(248, 228, 140);
            border: 1px solid rgb(177, 119, 11);
            font-size: 20px;
            margin: 3px 3px 3px 3px;
            border-radius: 15px;
            cursor: pointer;
            animation-name: flash;
            animation-duration: .7s;
            animation-iteration-count: 3;
            animation-delay: .6s;

        }

        button:hover {
            border: 3px solid rgb(253, 122, 0);
            margin: 0px 3px 0px 3px;
            color: black;
            background-color: rgb(255, 196, 0);
        }

        @keyframes flash {
          20% {
                color: black;
                margin: 3px 3px 3px 3px;
                background-color: rgb(250, 193, 6);

            }
        }
